@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --tangerine: #f5c325;
  --orange: #fc9745;
  --grapefruit: #ff7348;
  --straweberry: #fd5a5c;
  --dragonfruit: #f2456f;
  --gradient: linear-gradient(90deg, #fc9745, #ff7348);

  --darkGray: #5d5c5c;
  --lightGray: #fcfcfc;
}

*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-weight: 300;
  font-size: 1.1rem;
  background-color: #fc9745;
  color: var(--lightGray);
  display: grid;
  
  grid: 
    "header header header header" auto
    "...... lists  active ......" auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

h1 {
  font-family: "Martel", sans-serif;
  line-height: 1.3em;
}

h2 {
  font-family: "Martel", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-weight: 300;
}

li,
a,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  
}



/*  ----------------------------------------------------------Top Navigation ----------------------------------------------------------------------------------------*/

.title {
  grid-area: header;
  text-align: center;
  color: rgb(252, 252, 252, 0.2);
  padding: 2rem 1rem;
  font-weight: 900;
  font-size: calc(7vw + 2rem);
  
}

.all-tasks {
  grid-area: lists;
  

}

.task-list {
  line-height: 1.8rem;
  list-style: circle;
  margin-left: 1em;
  
}

.active-list {
  font-weight: 700;
}

.list-name {
  cursor: pointer;
}

.list-name:hover {
  opacity: 0.8;
}

.new {
  background: transparent;
  border: 0;
  border-bottom: 1px solid currentColor;
  color: inherit;
  font-size: inherit;
  outline: none;

  transition: border-bottom 150ms ease-in;
  order: 2;
}

.new:focus {
  border-bottom-width: 3px;
}

.new:focus::placeholder {
  opacity: 0.3;
}

.new.list {
  font-size: 1.1rem;
}

form {
  display: flex;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
  
}

.btn.create {
  font-size: 1.6rem;
  font-weight: 800;
  margin-right: 0.25em;
  transition: opacity 150ms ease-in;
}

.btn.create:hover {
  opacity: 0.7;

}

.todo-list {
  --spacer: 2rem;
  grid-area: active;
  background: #eee9dd;
  color: #5d5c5c;

}

.todo-header {
  background: #d8d4c9;
  padding: var(--spacer);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
}

.list-title {
  margin: 0;
}

.task-count {
  margin: 0;
  font-size: 0.8rem;
}

.todo-body {
  padding: var(--spacer);
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1.5em;
  cursor: pointer;
}

.task label::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.5em;
  height: 1px;
  background: #d8d4c9;
  opacity: 0.5;

}

.custom-checkbox {
  --size: .8em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  border: 1px solid currentColor;
  border-radius: 50%;
  margin-right: var(--size);
  transform: scale(1);
  transition: transform 150ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  transform: scale(1.1);
  border: 2px solid var(--orange);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: var(--orange);
  box-shadow: inset 0 0 0 1px #fff;
  border: 2px solid var(--orange);
}